

#logo {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.main-content{
    background-color: #fff;
}

#search-form{
    display: flex;
    justify-content: center;

}

#search-bar{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(250, 250, 250)
    
}

#google-search{
    float: left;
    border: 0;
    height: 30px;
    width: 120px;
    background-color: rgb(250, 250, 250);
}

#feeling-lucky{
    float: right;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 135px;
    background-color: rgb(250, 250, 250);
    
}

#search-buttons{
    width: 260px;
    margin-left: 20px;
}

