
#nav-bar{
    padding: 15px;
}

a:link{
    color:rgb(70, 70, 70);
    font-size: 12px;
    font-family: arial, sans-serif;
    text-decoration: none;
}

a:visited{
    color:rgb(70, 70, 70);
}

a:hover{
    text-decoration: underline;
}

#nav-right{
    float: right;
}


#logo {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    padding-bottom: 30px;
}

.main-content{
    background-color: #fff;
}

#search-form{
    display: flex;
    justify-content: center;
}

#search-bar{
    display: flex;
    justify-content: center;
    width: 575px;
    height: 42px;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(230, 230, 230);    
}

input.form-control{
    width: 100%;
    text-indent: 20px;
}

#google-search{
    float: left;
    font-family: arial, sans-serif;
    height: 35px;
    width: 120px;
    background-color: rgb(250, 250, 250);
    color:rgb(70, 70, 70);
}

#feeling-lucky{
    float: right;
    font-family: arial, sans-serif;
    height: 35px;
    width: 135px;
    background-color: rgb(250, 250, 250);
    color:rgb(70, 70, 70);
    
}

#search-buttons{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

button{
    border: 1px solid transparent;
    border-radius: 5px;
}

button:hover{
    border-color: rgb(230, 230, 230);
}

.footer{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgb(240, 240, 240);
    opacity: 75%;
    border: 1px solid;
    border-color: rgb(200,200,200);
    text-indent: 10px;
    font-family: arial, sans-serif;
    
}

#carbon{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}



